.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerContent {
    display: flex;
    gap: 20px;
}

.containerContentImage {
    height: 50px;
    width: 50px;
}

.containerContentImage img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.containerContentComment {
    width: calc(100% - 65px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.containerContentCommentWords {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerContentCommentWordsNickname {
    font-weight: 800;
}

.containerContentCommentDelete {
    color: rgb(255, 79, 79);
    border-radius: 50%;
}

.containerContentCommentDelete:hover {
    cursor: pointer;
    background-color: rgb(255, 79, 79);
    color: rgb(255, 255, 255);
}

.containerContentCommentDeleteIcon {
    padding: 6px 5px 3px 5px;
    font-size: 15px;
}
