.container {
    min-height: 100vh;
    background-color: var(--lightGrey);
}

.profile {
    padding: 60px 20px 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.profilePosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profilePostsTitle {
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
    color: var(--green);
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1250px) {
    .profile {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 835px) {
    .profile {
        padding: 50px 10px 10px;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .profilePosts {
        gap: 10px;
    }
    .profilePostsTitle {
        font-size: 13px;
    }
}
