.container {
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

.containerData {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.containerDataImage {
    height: 50px;
    width: 50px;
}

.containerDataImage img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.containerDataText {
    height: 100%;
    width: calc(100% - 90px);
    padding-left: 20px;
    border: none;
    background-color: var(--lightGrey);
    border-radius: 30px;
}

.containerDataText:focus {
    outline: none;
    background-color: var(--grey);
}

.containerPreview {
    width: 100%;
}

.containerPreview img {
    width: 100%;
    border-radius: 10px;
}

hr {
    border: 1px solid var(--grey);
}

.containerImage {
    display: flex;
    justify-content: space-between;
}

.containerImageFile {
    background-color: var(--lightGrey);
    padding: 10px;
    border-radius: 30px;
}
.containerImageFile:hover {
    background-color: var(--grey);
}

.containerImageFileCustom {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.containerImageFileHidden {
    display: none;
}

.containerImageSubmit {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--green);
    border-radius: 30px;
}

.containerImageSubmit:hover {
    cursor: pointer;
    background-color: var(--lightGreen);
}

.containerImageFile:hover {
    cursor: pointer;
    color: var(--green);
}
